includes:
	- phpstan.neon.dist

parameters:
	scanDirectories:
		- vendor/civicrm/civicrm-core/CRM/
		- vendor/civicrm/civicrm-core/Civi/
		- vendor/civicrm/civicrm-core/api/
		- vendor/civicrm/civicrm-packages/
	bootstrapFiles:
		- vendor/autoload.php
	# Because we test with different versions in CI we may have unmatched errors.
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		# Errors we get when using "prefer-lowest"

		# Required with symfony/event-dispatcher <4.4.27
		- '#::getSubscribedEvents\(\) return type has no value type specified in iterable type array.$#'

		# Required with civicrm/civicrm-core <6.1.0
		- '#^Call to an undefined static method Civi::rebuild\(\).$#'

		# Required for PHP <8.2, but CiviCRM has had a polyfill since 5.53.
		- '#^Function ini_parse_quantity not found.$#'
